@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.panele-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__content {
    width: 100%;
    //64 for button
    margin-top: calc($spacing-lg + 64px);
  }
}