@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contact {
    &-form {
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        padding: $spacing-lg;
        z-index: 1000;

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(18, 17, 17, 0.554);
            backdrop-filter: blur(5px);
            z-index: 800;
        }


        &__content {
            position: relative;
            background-color: $color-text;
            border-radius: $border-radius-lg;
            padding: $spacing-lg;
            margin: auto;
            max-width: 500px;
            width: 100%;
            box-shadow: $shadow-lg;
            z-index: 900;
        }

        &__exit-btn {
            position: absolute;
            top: $spacing-md;
            right: $spacing-md;
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;

            >button {
                background: none;
                border: none;
                font-size: $font-size-lg;
                cursor: pointer;
                background-color: $color-secondary;
                color: $color-text;
                border-radius: $border-radius-md;
                width: 32px;
                height: 32px;

                &:hover {
                    background-color: $color-secondary;
                    color: $color-text-secondary;
                }
            }
        }
    }

    &-button-container {
        display: flex;
        justify-content: center;
        margin-top: $spacing-lg;
        margin-bottom: $spacing-lg;
    }

    &-button {
        background-color: $color-text-secondary;
        color: $color-text-third;
        border: none;
        border-radius: $border-radius-md;
        padding: $spacing-sm $spacing-xl;
        font-size: $font-size-base;
        cursor: pointer;

        &:hover {
            background-color: darken($color-text-secondary, 5%);
            transform: scale(1.02);
            transition: transform $transition-normal;
        }
    }
}

.contact-form__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-md;

    label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: $spacing-md;
        color: $color-secondary;
        margin-bottom: $spacing-sm;
        font-weight: $font-weight-medium;
    }

    input,
    textarea {
        padding: $spacing-sm;
        border: 1px solid #ccc;
        border-radius: $border-radius-sm;
        font-size: $font-size-base;

        &:focus {
            outline: none;
            border-color: $color-primary;
            box-shadow: 0 0 0 2px rgba($color-primary, 0.2);
        }
    }

    textarea {
        resize: vertical;
        min-height: 100px;
    }
}